body * {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  background-color: azure;
}

h1 {
  font-size: 3em;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
}

h2 {
  font-size: 1.75em;
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 1.25em;
  font-family: 'Courier New', Courier, monospace;
}

p {
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.2em;
}

#profilePic {
  margin: 10px, auto;
}

#profilePic img {
  border-radius: 10%;
  width: 100%;
  margin-top: 5%;
  border: 3px unset black;
}


#bio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: lightblue;
  border-radius: 10px;
}

#bio h2 {
  margin: 10px
}

#chronology {
  margin: 10px;
  margin-top: 50px;
}

header {
  position: sticky;
  top: 0%;
  background-color: bisque;
  height: 60px;
  padding: 10px;
}

#miscellany {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(133, 193, 212);
  border-radius: 10px;
}

#miscellany article {
  margin: 10px;
  border: solid lightblue 1px;
  border-radius: 10px;
}

#educationAndExperience {
  margin: 10px;
}

#funFacts {
  margin: 10px;
}

#topTen {
  margin: 10px;
  margin-left: 50px;
}

section {
  margin: 20px;
}

section p {
  background-color: lightblue;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
}

ol li {
  font-size: 1em;
  line-height: 1.5em;
  list-style-type: decimal;
  list-style-position: inside;
}

ul li {
  font-size: 1em;
  line-height: 1.2em;
}

footer p {
  text-align: center;
  margin-bottom: 20px;
}